%footer {
    border-top: 1px solid #453e3c;
    padding-top: 20px;
    padding-bottom: 40px;
}

%images {
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}