/* INICIO DE PROMO BANNER */

.promo-banner {
    background-color: #D3D2CD;
    color: #8A7A75;
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-size: 12px;
    display: flex;
    height: 40px;
    width: 100%;
    padding: 8px;
}

.promo-caption {
    width: 97%;
}

.close-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    width: auto;
    height: 100%;

    &:hover {
        transform: scale(1.1);
    }
}

/* FIN DE PROMO BANNER */

/* INICIO NAVBAR */

nav {
    display:flex;
    justify-content: space-between;
    background-color: $primaryGreen;
    align-items: center;
}

/* Navbar Bootstrap */
  
.ul-center {
    display: flex;
    margin: auto;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    a {
        text-decoration: none;
        color:#998681;
        &:hover {
            color: #D3D2CD;
        }
    }
}

.custom-toggler {
    .navbar-toggler-icon{
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(155,134,129,100)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
    &.navbar-toggler {
        border-color: #998681;
    }
}

.navbar-logo {
    width: 12.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}


.burger-icon{
    display:none;
    width: 24px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.logo-nav {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 40px;
    width: 16em;
    height: auto;
}

.logo-nav-mobile {
    display: none;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 40px;
    width: 16em;
    height: auto;
}

.ul-nav {
    display: flex;
    margin: auto;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 19px;
    li {
        text-decoration: none;
        list-style-type: none;
    }
    a {
        text-decoration: none;
        color:#998681;
        padding: 0px 5px;
        &:hover {
            text-decoration: underline;
            font-weight: 600;
        }
    }
    
}

.nav-links {
    margin: 0px 24px;
}

.nav-btns {
    display: flex;
    margin-right: 30px;

    button {
        background: transparent;
        border: none;
        cursor: pointer;
    }
}

.action-btn {
    margin: 0px 15px;
    &:hover {
        transform: scale(1.1);
    }
}

/* ------  NAVBAR MOBILE ------ */

@media (max-width: 1140px) {
    
    .ul-nav {
        display: none;
    }

    .nav-logo_link{
        display: none;
    }

    .nav-btns {
        margin: 0;
    }

    .burger-icon{
    display: flex;
    }

    .logo-nav {
        display: none;
    }

    .logo-nav-mobile {
        display: inline-block;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-right: auto;
        margin-left: auto;
        width: auto;
        height: 24px;
    }

    .search-icon {
        display: none;
    }    
}

/* ----- FIN NAVBAR MOBILE ----- */

/* FIN NAVBAR */