@mixin primaryButton {
    border: none;
    outline: 0;
    padding: 18px 40px;
    background-color: map-get($colors, primary-default);
    text-align: center;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    list-style-type: none;
    transition: padding 0.5s, background-color 1s;
    &:hover {
        background-color: $hoverButtonColor;
    }
}

@mixin secondaryButton($color, $hovercolor, $fontcolor) {
    border: none;
    width: 50%;
    padding: 18px 40px;
    border-radius: 8px;
    background-color: $color;
    text-align: center;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    list-style-type: none;
    &:hover {
        background-color: $hovercolor;
    }
    a {
        color: $fontcolor;
    }
    
}