.main-section {
    display: flex;
    height: 100vh;
    border-bottom: 1px solid #453e3c;
}

.image-container {
    min-width: 50%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
    img {
      width: 100%;
      height: 100%;
      @extend %images;
    }

    .hz-img {
      width: auto;
      height: 100%;
    }
  }
  
  .description-container {
      display: flex;
      flex-direction: column;
      align-content: center;
      height: 100%;
      width: 100%;
      button {
        @include primaryButton;
        width: 50%;
      }
      a {
        text-decoration: none;
        color: #8A7A75;
      }
  }
  
  .description-text {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      width: 70%;
      margin-top: 50px;
      margin-left: 60px;
      padding-bottom: 60px;
  }

/* RESPONSIVE SMALL */

@media only screen and (max-width: 767px) {
    
  .main-section {
    flex-direction: column;
    height: 100vh;
  }

  .description-text {
    margin-left: 0px;
    button {
      border: none;
      width: 100% !important;
      margin-top: 20px;
    }
    }

    .description-container {
        align-items: center;
        order: 1;
    }
}

/* RESPONSIVE MEDIUM */

@media only screen and (min-width: 768px) and (max-width: 1023px) {

  .main-section {
      height: 80vh;
  }

  .description-text {
      font-size: 18px;
  }

}

/* RESPONSIVE LARGE */

@media (min-width: 1024px) {
  
  .description-text {
      font-size: 24px;
  }

}