.main-section {
    display: flex;
    height: 100vh;
    border-bottom: 1px solid #453e3c;
}

.locations-group {

  .footer__link {
      font-family: Inter, serif;
      font-weight: 400;
  }
}

.image-container {
    min-width: 50%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
    img {
      width: 100%;
      height: 100%;
      @extend %images;
    }

    .hz-img {
      width: auto;
      height: 100%;
    }

    &.img-vertical {
      width: 50% !important;
    }
  }
  
  .description-container {
      display: flex;
      flex-direction: column;
      align-content: center;
      height: 100%;
      width: 100%;
      button {
        @include primaryButton;
        width: 50%;
      }
      a {
        text-decoration: none;
        color: #8A7A75;
      }
      
      p {
        background-color: transparent;
        color: #453e3c;
        text-decoration: none;
        font-size: 16px;
      }
  }
  
  .description-text {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      width: 70%;
      margin-top: 50px;
      margin-left: 60px;
      padding-bottom: 60px;
  }

  .locations-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    height: auto;
    width: 50%;
    button {
      @include primaryButton;
      width: 50%;
    }
    a {
      text-decoration: none;
      color: #8A7A75;
    }
    
    p {
      background-color: transparent;
      color: #453e3c;
      text-decoration: none;
      font-size: 16px;
    }
}

  .locations-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 100%;
    margin-top: 50px;
    margin-left: 60px;
}

.map {
  width: 50%;
  iframe {
    width: 100% !important;
    height: 100%;
  }
}

.contact-container {
  display: flex;
  flex-flow: column;
  align-content: center;
  height: 100%;
  width: 50%;
  padding: 6% 10% 5% 10%;

  .form {
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    gap: 0.5em;
    justify-content: center;
    margin-top: 5%;

    input {
      @include formInput;
    }

    textarea {
      @include textArea;
      width: 100%;
      min-height: 10%;
      resize: none;
    }
  }

  .form_check {
    display: flex;
    align-items: center;
    gap: 1em;
    margin-top: 5%;

  }

  button {
    margin-top: 5%;
    @include primaryButton;
    width: 100%;
  }

  a {
    text-decoration: none;
    color: #8A7A75;
  }
  
  p {
    background-color: transparent;
    color: #453e3c;
    text-decoration: none;
    font-size: 13px;
    margin-bottom: 0px;
  }
}

/* RESPONSIVE SMALL */

@media only screen and (max-width: 767px) {
    
  .main-section {
    flex-direction: column;
    height: 100vh;
  }

  .description-text {
    margin-left: 0px;
    button {
      border: none;
      width: 100% !important;
      margin-top: 20px;
    }
    }

    .description-container {
        align-items: center;
        order: 1;
    }

    .image-container {
     
      &.img-vertical {
        width: 100% !important;
      }
    }

    .locations-container {
      width: 100%;
    }

    .locations-text {

      article {
      flex-direction: column;
      }
    }

    .map {
      width: 100%;
      min-height: 300px;
      iframe {
        width: 100% !important;
        height: 100%;
      }
    }

    .contact-container {
      width: 100%;
    }
}

/* RESPONSIVE MEDIUM */

@media only screen and (min-width: 768px) and (max-width: 1023px) {

  .main-section {
      height: 80vh;
  }

  .description-text {
      font-size: 18px;
  }

}

/* RESPONSIVE LARGE */

@media (min-width: 1024px) {
  
  .description-text {
      font-size: 24px;
  }

  .locations-group__list {
    list-style: none;
    padding: 0;

    ul {
        margin: 0 0 30px;
        font-size: 16px;
    }
}

}