@import "./partials/colors";
@import "./partials/extends";
@import "./partials/maps";
@import "./partials/mixins";
@import "./partials/header";
@import "./partials/hero";
@import "./partials/featured_section";
@import "./partials/highlights_section";
@import "./partials/products_section";
@import "./partials/footer";
@import "./partials/products_grid";
@import "./partials/stacked_sections";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

h1 {
    font-family: 'Fraunces', serif;
    font-weight: 600 !important;
}

h2 {
    font-family: 'Fraunces', serif;
    font-weight: 600 !important;
    color:#453e3c;
}

main { 
    display: flex;
    flex-direction: column;
    a {
        &:hover {
            color: #453e3c !important;
        }
    }
    h4 {
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 1px;
        font-family: Inter, sans-serif;
        color: #453e3c;
        font-weight: 400; 
        margin-top: 24px;
        margin-bottom: 24px;
    }
}

footer {
    a {
        &:hover {
            color: #453e3c !important;
        }
    }
}

/* GRID SYSTEM */
.grid {
    display: grid;
    grid-template-columns: repeat(24, minmax(0,80px));
    justify-content: center;

}

.lightweight{
    font-weight: 300
}
